.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
.demo-infinite-container {
    height: 800px;
    padding: 8px 24px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}
.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.InProgress{
    color: goldenrod;
    border: 1px solid #DAA520;
    border-radius: 10px;
}
.Finished{
    color: aquamarine;
    border: 1px solid #7FFFD4;
    border-radius: 10px;
}
.Pending{
    color: hotpink;
    border: 1px solid #FF69B4;
    border-radius: 10px;
}