.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
.center{
    text-align: center;
    position: relative;
    vertical-align:middle;
    margin: 0 auto;
    style: border-radius 50%;
    padding: 0px 0px 20px 0px;
}
.avat {
    width: 150px;
    height: 150px;
    style: margin 0 auto;
}
.Start {
    text-align: center;
    padding: 10px 0px 0px 0px;
}
.gb{
    width: 180px;
    height:40px;
    margin: 10px 0px 0px 0px;
}
.ab{
    width: 180px;
    height:40px;
    margin: 10px 0px 0px 0px;
}