.site-card-wrapper {
    padding: 30px;
    background: #ffffff;
}
.card_bak{
    background: #b3ffce;
    border-radius: 10px;
    text-align: center;
    font-size:20px;
}
.card_sug{
    background: #ffd073;
    border-radius: 10px;
    text-align: center;
    font-size:20px;
}
.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background: #e8e8e8;
}
.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.Sugget{
    padding: 20px 0px 0px 0px;
}